p {
    display: block;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

#container {
    background-color: #000;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}

#spaceship {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    top: 0pt;
    left: 0pt;
    width: 32px;
    height: 32px;
}

.meteor {
    position: relative;
    top: 0pt;
    left: 0pt;
    width: 64px;
    height: 64px;
}
